@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

::-webkit-scrollbar {
    display: none;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family:'Times New Roman', "Source Code Pro", monospace;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: #fff;
    box-shadow: 0 4px 25px -22px black;
    z-index: 2;

}

.header-content{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.logo{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo h1{
    font-size: 1.5em;
}
.logo h1 b{
    color: #1c63b4;
}
.menu{
    height: 80px;
}
.menu nav{
    height: 100%;
}
.menu nav ul{
    height: 100%;
    display: flex;
    list-style: none;
}

.menu nav ul li{
    height: 100%;
    margin: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.menu-select:before{
    content: '';
    width: 100%;
    height: 4px;
    background: #46a2fd;
    position: absolute;
    top: 0;
    left: 0;
}

.menu nav ul li a{
    color: #777777;
    font-size: 18px;
    transition: color 300ms;
}

.menu nav ul li a:hover{
    color: #46a2fd;
    
}

.menu .text-menu-select{
    color: #46a2fd;
}

#icon-menu{
    width: 50px;
    height: 50px;
    position: absolute;
    right: 20px;
    top: 16px;
    font-size: 20px;
    background: #fafafa;
    border-radius: 100%;
    color: #787878;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#icon-menu:hover{
    background: #f2f2f2;
}
.menu nav ul li a i{
    display: none;
}

/*PORTADA*/
.container-cover{
    width: 100%;
    height: 500px;
    position: relative;
    top: 80px;
    background-image: url(/img/logo\ UC\ blanco.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.container-cover:before{
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(16, 82, 126, 0.63);
    backdrop-filter: blur(6px);
    position: absolute;
    top: 0;
    left: 0;
}

.container-info-cover{
    max-width: 800px;
    height: 500px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

.container-info-cover h1{
    font-size: 4em;
    font-weight: 500;
    color: #fff;
    margin-bottom: 20px;
}

.container-info-cover p{
    color: #fff;
    font-size: 2em;
    font-weight: 500;
}


.post-list{
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 30px 15px;
    
}

.content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    max-width: 1000px;
    margin-top: 100px;
    
}
.post-img-0{
    background: url(/img/semi.jpeg);
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    transition: .2s;
    border-radius: 2%;
}
.post-body span strong{
    background: #be5454;
    color: rgb(255, 252, 252);
    
}
.post-img-1{
    background: url(/img/peña.jpeg);
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    transition: .2s;
    border-radius: 2%;
}
.post-img-2{
    background: url(/img/JuegosUcsi.jpeg);
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    transition: .2s;
    border-radius: 17%;
}
.post-img-3{
    background: url(/img/Viacrucis.jpeg);
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    transition: .2s;
    border-radius: 17%;
}
.post-img-4{
    background: url(/img/30.jpg);
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    transition: .2s;
    border-radius: 2%;
}
.post{
    box-shadow: 0 4px 25px -22px black;
    overflow: hidden;
    transition: .2s;
}
.post:hover{
    transform: translateY(-4px);
    box-shadow: 0 1px 14px 2px 1px rgba(0, 0, 0, .15);
}
.post-header{
    width: 100%;
    height: 200px;
    overflow: hidden;
    cursor: pointer;

}
.post:hover .post-img-1,
.post-img-2, .post-img-3, .post-img-4{
    transform: scale(1.1);
}
.post-body{
    padding: 15px;
    text-align: center;


}
.post-body span{
    display: inline-block;
    color: #999;
    margin-bottom: 10px;
}
.post-body h2{
    margin-bottom: 15px;
}
.post-body p{
    line-height: 1.5;
    margin-bottom: 20px;
    overflow: scroll;
    height: 7rem !important;
}
.post-body .post-link{
    display: block;
    text-decoration: none;
    padding: 10px;
    background: #2b6ebb;
    color: #fff;
    width: 50%;
    margin: auto;
    border-radius: 20px;
    box-shadow: 1px 2px 6px 1px rgba(0, 0, 0, .1);
    transition: .2s;
}
.post-body .post-link:hover{
    background: #1c63b4;
    box-shadow: 1px 2px 6px 1px rgba(0, 0, 0, .2);
    transform: translateY(-2px);
}


/*********FOOTER*******/

.container-f{
    width: 100%; 
    padding: 40px 0;
    background: #f7f7f7;
    margin-top: 40px;

}
.container-f footer{
    max-width: 1200px;
    margin: auto;

}
.container-f footer .logo-f{
    text-align: center;
}
.container-f footer .logo-f img{
    width: 100px;
    border-radius: 100%;
}
.container-f footer .main-f{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 30px 0;
}
.container-f footer .suscribe{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}
.suscribe input{
    padding: 8px 10px;
    font-size: 18px;
    border-radius: 10px;
    border: #acacac solid 2px;
    background-color: transparent;
    color: #0f0f0f;
    transition: 0.15s all ease;
    width: 300px;
}

.suscribe input::placeholder{
    color: transparent;
}

.suscribe label{
    position: absolute;
    left: 13%;
    font-size: 18px;
    padding: 0 10px;
    color: #0f0f0f;
    pointer-events: none;
    transition: 0.15s all ease;
}
.suscribe input:focus + label,
.suscribe input:not(:placeholder-shown) +
label{
    transform: translate(5px, -22px);
    border-radius: 5px;
    font-size: 15px;
    color: #0f0f0f;
}
.suscribe input{
    outline: none;
    border: none;
    border-bottom: 2.5px solid rgb(192, 192, 192);
}
.container-f footer .redes-f{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
}
.container-f footer .redes-f .icon-redes{
    font-size: 20px;
    margin: 20px;
    background: #efefef;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color: #a2a2a2;
}

.container-f footer .comment-f {
    width: 800;
    height: 40px;
    display: flex;
    background: transparent;
    outline: none;
    border: none;
    border-radius: 10%;
    border-bottom: 2.5px solid rgb(192, 192, 192);
    font-size: 1em;
    padding: 0 35px 0 5px;
    /* margin-top: 20px; */
}

.container-f footer .comment{
    margin: auto;
    margin-top: -1%;
}
input[type="submit"]{
    display: flex;
    justify-content: center;
    text-decoration: none;
    padding: 10px;
    background: #2b6ebb;
    color: #fff;
    width: 30%;
    margin: 15px auto;
    border-radius: 20px;
    box-shadow: 1px 2px 6px 1px rgba(0, 0, 0, .1);
    transition: .2s;
    border: none;
}
input[type="submit"]:hover{
    background: #1c63b4;
    box-shadow: 1px 2px 6px 1px rgba(0, 0, 0, .2);
    transform: translateY(-2px);
    cursor: pointer;
}
.container-f footer .redes-f .fa-facebook-square:hover{
    background: #1c63b4;
    color: #fff;
}
.container-f footer .redes-f .fa-instagram:hover{
    background: linear-gradient(to top right, #FCDE30, #E9712A,#D2313B,#AE4198,#7540A1,#5443A8);
    color: #fff;
}
.container-f footer .redes-f .fa-linkedin:hover{
    background: #1c63b4;
    color: #fff;
}

.container-f footer hr{
    margin-top: 20px;
    border: none;
    height: 2px;
    background: #a8a8a8;
}
.container-f h4{
    text-align: center;
    margin-top: 40px;
    color: #888777;
    font-weight: 400px;
    font-size: smaller;
    font-family: Arial, Helvetica, sans-serif;
}


/*******************RESPONSIVE**********************/

@media (max-width: 840px){

    body{
        overflow-x: hidden;
    }
    .container-all{
        transition: all 300ms cubic-bezier(1,0,0,1);
        
    }
    .move-container-all{
        transform: translateX(300px);
    }
    .menu{
        width: 300px;
        height: 100vh;
        position: fixed;
        top: 80px;
        left: 0;
        background: #fff;
        overflow: hidden;
        transform: translateX(-350px);
        box-shadow: 10px 0px 20px -25px #000;
        transition: all 300ms cubic-bezier(1,0,0,1);
    }
    .show-lateral{
        width: 300px;
        transform: translateX(0px);
    }
    .menu nav ul{
        flex-direction: column;

    }
    .menu nav ul li{
        max-width: 200px;
        height: 50px;
        justify-content: flex-start;
    }
    .menu-select:before{
        width: 0;

    }
    .menu ul li a{
        margin-top: 40px;
        color: #858585;
    }
    .menu nav ul li a i{
        width: 20px;
        display: inline-block;
        margin-right: 10px;
    }
    #icon-menu{
        display: flex;
    }
    .content{
        grid-template-columns: repeat(2,1fr);
        
    }
    .post-list{
        margin-top: 10vh;
    }
}

@media (max-width: 600px){
    .content{
        grid-template-columns: repeat(1,1fr);
    }
    .container-f footer .main-f{
        grid-template-columns: repeat(1,1fr);
        justify-content: center;
        margin-top: 15px;
    }
    .main-f .suscribe .form-email{
        padding-left: 10px;
    }

}
